# ==========
# Python
# ==========

__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv
.idea/
.vscode/
*.swp
*.swo
*.egg-info/
dist/
build/
.ipynb_checkpoints/

# ==========
# Bash
# ==========

*.bak
*.old
*.orig

# ==========
# OS
# ==========

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# ==========
# tmp files
# ==========

*.tmp
*.temp
*.cache

# ==========
# rendered videos
# ==========

videos/_rendered/*.mp4
videos/_rendered/images/*
videos/_rendered/texts/*
videos/_rendered/videos/*


# ==========
# other
# ==========

cmanim/*
scenario.md